* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}
body{
    background-color: hsl(185, 75%, 39%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
   border-radius: 20px;
   background-color: #fff;
}
img{
    border-radius:1rem 1rem 0 0 ;
}
div #img{
    display: flex;
    justify-content: center;
    margin-top: -52px;
}
#img img{
    border-radius: 100px;
    border: solid 5px #fff;
}
.user{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 10px;
    padding-bottom: 25px;
}
.user span{
    font-size: 0.9rem;
    margin-top: 8px;
    color: hsl(0, 0%, 59%);
}
.container .information{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 25px;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    border-top: solid 1px hsl(0, 2%, 91%);;
}
.container .information .inf{
    width: 80px;
    text-align: center;
}
.container .information .inf h1{
    font-size: 20px;
}
.container .information .inf span{
    font-size: 13px;
    
    color: hsl(0, 0%, 59%);
}